:root {
    --default-font-color: #212121;
    --default-background: #EEEEEE;
    --success-color: #00897B;
    --warning-color: #FBC02D;
    --error-color: #E53935;
    --alert-color: #1E88E5;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, input, button, textarea {
    font-family: "Rubik", sans-serif;
    font-size: 12pt;
    color: var(--default-font-color);
    background-color: var(--default-background);
}

.app {
   width: 100%;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.login-container {
    width: 100%;
    max-width: 480px;
    padding: 16px;

    background-color: #ffffff;
    box-shadow: 0 0 4px #888888;
}

.login-container header {
    text-align: center;
    margin-top: 24px;
}

.login-container header > i {
    font-size: 48pt;
}

.login-container .login-content {
    margin-top: 24px;
    text-align: center;
}

.form-container {
    margin-top: 24px;
}

.form-container .input-container {
    margin: 16px;
}

.form-container .input-container input,
.form-container .input-container input, select {
    width: 100%;
    padding: 8px;
    display: block;
    border: 0;
    background-color: var(--default-background);
}

.form-container .input-container input:read-only {
    background-color: #ffffff;
    box-shadow: 0 0 1px var(--default-font-color);
}

.form-container .input-container button {
    width: 196px;
    padding: 8px;
    border: 0;
}

.input-container-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.success { background-color: var(--success-color); color: #ffffff; }
button.warning { background-color: var(--warning-color); color: #ffffff; }
button.error { background-color: var(--error-color); color: #ffffff; }
button.alert { background-color: var(--alert-color); color: #ffffff; }

.error-message-container > p {
    text-align: center;
}

.form-message-container {
    margin-top: 24px;
}

.show { display: block; }
.hide { display: none; }

button { cursor: pointer; }
button:hover { opacity: 0.9; }
button:active { opacity: 0.8; }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 8px 16px;
    background-color: #ffffff;
    color: var(--default-font-color);
    border-bottom: 1px solid #cccccc;

    position: static;
    top: 0;
}

.navbar i {
    font-size: 24pt;
}

.navbar button {
    background-color: var(--error-color);
    color: #ffffff;

    border: 0;
    border-radius: 2px;
    padding: 8px;
}

.navbar > div:first-child,
.navbar > div:nth-child(2)
{
    display: flex;
    align-items: center;
}

.navbar > div:first-child {
    color: var(--default-font-color);
}

.navbar > div:first-child > i {
    margin-right: 16px;
}

.navbar > div:first-child > .navbar-links {
    margin-left: 48px;
    display: flex;
    align-items: center;
}

.navbar-links > a {
    font-size: 14pt;
    margin: 0 8px;
    text-decoration: none;
    color: var(--default-font-color)
}

.navbar button > i {
    font-size: 12pt;
}

.app-content {
    margin: 32px 0;
    padding: 8px 32px;
}

.app-content h2 {
    text-align: center;
}

.list-container {
    width: 100%;
    max-width: 480px;
    margin: 64px auto;
}

.list-container .list-container-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container .list-container-header > button {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    font-size: 18pt;
    background-color: var(--success-color);
    color: var(--default-background);
    border: 0;
    border-radius: 2px;
}

.list-container .list-content {
    margin-top: 24px;
}

.list-container .list-content .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin-bottom: 16px;
    height: 128px;
    padding: 16px;
    background-color: #ffffff;
}

.list-item .list-item-details {
    flex: 1;
}

.list-item .list-item-details > label {
    font-weight: 500;
    font-size: 16pt;
}

.list-item .list-item-details > p {
    font-weight: 300;
    font-size: 10pt;
}

.list-item .list-item-details > small {
    color: var(--default-font-color);
    font-size: 14pt;
    position: relative;
    top: 12px;
}

.list-item .list-item-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
}

.list-item .delete-button {
    width: 24px;
    height: 24px;
    border: 0;
    background-color: transparent;
    color: #d8d8d8;
    cursor: pointer;

    position: absolute;
    top: 4px;
    right: 4px;
}

.list-item-icon.positive {
    color: var(--default-background);
    background-color: var(--success-color);
}

.list-item-icon.negative {
    color: var(--default-background);
    background-color: var(--error-color);
}

.list-item .list-item-icon > i { position: relative; }
.list-item-icon.positive > i { bottom: 5px; }
.list-item-icon.negative > i { top: 5px; }

/* Profile */
.profile-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container .profile-content {
    width: 100%;
    max-width: 480px;
    padding: 16px;

    background-color: #ffffff;
    box-shadow: 0 0 4px #888888;
}

.profile-content .profile-header {
    text-align: center;
}

.profile-content .profile-header > i {
    margin-top: 8px;
    font-size: 78px;
}

.profile-content .profile-header > h2 {
    margin-top: 12px;
}

@media screen and (max-width: 768px) {
    .app {
        background-color: #ffffff;
    }

    .app .login-container {
        padding: 32px;
        box-shadow: none;
    }

    .form-container .input-container button {
        width: 100%;
    }
}